<html>

<head>
    <title>CHI HTMX Demo</title>
    <script src="https://unpkg.com/htmx.org@1.9.10"></script>

    <style>
        h1 {
            text-align: center;
        }

        .box {
            padding: 1em;
            margin: 1em;
            border: 1px solid #ccc;
        }
    </style>
</head>

<body>
    <h1>CHI HTMX Demo</h1>

    <div>
        <button hx-get="/posts" hx-target="#content-container" hx-swap="innerHTML">Article List</button>
        <button>Product List</button>
    </div>
    <div id="content-container" class="box">
        <P>Test</P>
    </div>

    <button hx-get="/user-info" hx-target="#content-container" hx-swap="innerHTML">
        Click Me
    </button>
</body>

</html>