<html>

<head>
    <title>CHI HTMX Demo</title>
    <script src="https://unpkg.com/htmx.org@1.9.10"></script>

    <script src="https://cdn.tailwindcss.com"></script>

</head>

<body>
    <div class="container mx-auto px-2 mt-6">

    <h1 class="text-center font-extrabold">CHI HTMX Demo</h1>

    <div>
        <button class="bg-orange-500 text-white p-3 border-2 border-lime-950" hx-get="/posts" hx-target="#content-container" hx-swap="innerHTML">Article List</button>
        <button class="bg-orange-500 text-white p-3 border-2 border-lime-950">Product List</button>
        <button class="bg-orange-500 text-white p-3 border-2 border-lime-950" hx-get="/user-info" hx-target="#content-container" hx-swap="innerHTML">
            Click Me
        </button>
    </div>
    <div id="content-container" class="p-6 mt-6 mb-6 border-2 border-black">
        <P>Test</P>
    </div>

    
</div>
</body>

</html>